<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878888664846-rd7595ekoiktvf975jvs22dnoed8bpg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878888664846-rd7595ekoiktvf975jvs22dnoed8bpg3</string>
	<key>API_KEY</key>
	<string>AIzaSyDfohT4G-KlKcLkS3opVkk2LOKIuhC9Mmg</string>
	<key>GCM_SENDER_ID</key>
	<string>878888664846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posty</string>
	<key>PROJECT_ID</key>
	<string>posty-9a682</string>
	<key>STORAGE_BUCKET</key>
	<string>posty-9a682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878888664846:ios:50db6c1c233304d1a9a15f</string>
</dict>
</plist>